{% extends 'admin/base.html.twig' %}

{% block css %}
    <link href="{{ asset('build/admin.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block js %}
    <script src="{{ asset('build/admin.js') }}"></script>
{% endblock %}